################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AutomationStructure/Automation/.vs/Automation/v15
/AutomationStructure/.vs/Automation/v15
